<div id="<%= dom_id schedule %>">
  <p>
    <strong>Name:</strong>
    <%= schedule.name %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= schedule.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= schedule.end %>
  </p>

  <p>
    <strong>Check:</strong>
    <%= schedule.check %>
  </p>

  <p>
    <strong>Introduction:</strong>
    <%= schedule.introduction %>
  </p>

</div>
